* {
  padding: none;
  margin: none;
  box-sizing: border-box;
  color: black;
  font-family: "Poppins";
}
.wrapper {
  padding: 1rem 7rem 1rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}
ul {
  list-style: none;
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1px;
  font-size: 0.7rem;
}

a {
  text-decoration: none;
}

.logo {
  text-transform: uppercase;
  font-size: 2rem;
}

.content {
  width: 60%;
  margin: 0 auto;
}
.tagline {
  color: rgba(128, 128, 128, 0.86);
  font-size: 1.5rem;
  font-weight: 300;
}
.title {
  font-size: 9.5rem;
  text-transform: uppercase;
  line-height: 11rem;
  font-weight: 600;
}

.desc {
  width: 40%;
}

p,
span {
  font-family: "Montserrat";
  line-height: 1.2rem;
}

p:first-child {
  font-size: 1.5rem;
  color: rgba(0, 0, 0, 0.675);
  line-height: 1.6rem;
}

p:nth-child(2) {
  color: rgba(0, 0, 0, 0.536);
  letter-spacing: 0.1px;
  font-size: 0.9rem;
}

p span {
  color: rgb(140, 214, 105);
}

.beercan {
  width: 35%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}
